<!DOCTYPE html>
<html>
  <head>
    <title>AirbnbClone | Book an Experience Anywhere in the World!</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnqDrT86OzRZVorExsMjFhYdp0TTOKQpE&libraries=places"></script> -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnqDrT86OzRZVorExsMjFhYdp0TTOKQpE&callback=initMap"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   
    <link href="https://fonts.googleapis.com/css?family=Lato|Ubuntu|Cabin" rel="stylesheet">
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
		
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />

  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
   	<meta name="author" content="AirbnbClone" />
    <meta name="keywords" content="Vacation Rentals, Room Rentals, Vacation Homes, Vacation Rooms, Rooms Near Me, Vacation Room Rentals, Vacation Home Rentals" />
    <meta name="description" content="AirbnbClone: Vacation Rentals, Homes, Hotels, Experiences & More.">
    <meta name="google-site-verification" content="" />
    <meta property="og:site_name" content="AirbnbClone" />
    <meta property="og:url" content="https://www.airbbenclone.com" />
    <meta property="og:title" content="AirbnbClone | Book an Experience Anywhere Around the World"/>
    <meta property="og:description" content="AirbnbClone: Vacation Rentals, Homes, Hotels, Experiences & More" />
    <meta property="og:type" content="website"/>
    <meta property="og:locale" content="en_US" />
    <meta property="og:image" content="https://www.trulia.com/pictures/thumbs_5/zillowstatic/fp/681db9e54e12d56d3c8fbae7a5729902-full.webp" />
    
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="https://www.airbbenclone.com">
    <meta name="twitter:title" content="AirbnbClone" />
    <meta property="twitter:description" content="AirbnbClone: Vacation Rentals, Homes, Hotels, Experiences & More" />
    <meta name="twitter:image" content="https://www.trulia.com/pictures/thumbs_5/zillowstatic/fp/681db9e54e12d56d3c8fbae7a5729902-full.webp" />
    
    <meta name="facebook:card" content="summary" />
    <meta name="facebook:url" content="https://www.airbbenclone.com">
    <meta name="facebook:title" content="AirbnbClone" />
    <meta property="facebook:description" content="AirbnbClone: Vacation Rentals, Homes, Hotels, Experiences & More" />
    <meta name="facebook:image" content="https://www.trulia.com/pictures/thumbs_5/zillowstatic/fp/681db9e54e12d56d3c8fbae7a5729902-full.webp" />
    
    <script type="text/javascript" async="" src="https://secure.quantserve.com/quant.js"></script>
    <script type="text/javascript" async="" src="https://www.googleadservices.com/pagead/conversion_async.js"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

  </head>

  <body>
    
    <%= render 'shared/navbar' %>
    <%= render 'shared/message' %>
  
    <% if current_user %>
      <input type="hidden" id="user_id" value="<%= current_user.id %>">
    <% end %>
    
    <!--<div class="container">-->
    	<%= yield %>
    <!--</div>-->
    
    <%= render 'shared/footer' %>
    
   <!-- Global site tag (gtag.js) - Google Analytics -->

  </body>
</html>